* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 60%;
}

:root {
    --primary-font-family: "Montserrat", sans-serif;
}

.sidebar {
    position: fixed;
    font-family: var(--primary-font-family);
    padding: 4rem 3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 100vh;
}

.sidebar__img-logo {
    padding-bottom: 2vh;

    img {
        width: 12rem;
    }
}

.sidebar__menu-home, .sidebar__menu-search, .sidebar__menu-explore, .sidebar__menu-reels, .sidebar__menu-messages, .sidebar__menu-notifications, .sidebar__menu-create, .sidebar__menu-profile, .sidebar__more {
    display: flex;
    padding-top: 4vh;
    cursor: pointer;

    h3 {
        font-size: 2rem;
        font-weight: 500;
        opacity: .8;
        padding-left: 2rem;
        display: flex;
        align-items: center;
    }

    h3:active {
        font-weight: 700;
    }
     
    img {
        width: 2.5rem;
    }
}

.sidebar__more {
    position: absolute;
    bottom: 0;
    margin-bottom: 5rem;
}

.sidebar__more img {
    width: 2rem;
    display: flex;
    align-items: center;
}

.sidebar__menu-profile .suggestions {
    height: 29.2px;
    width: 26px;
}

.sidebar__menu-profile .profile__logo-container {
    width: 29.2px;
    height: 29.2px;
    border: none;
}

.sidebar__menu-profile .profile__logo-container .profile__logo img {
    width: 25.2px;
    height: 25.2px;
}